body {
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    font-family: "Old Standard TT", serif;
    font-size: large;
} 

b {
    font-weight: 900;
    letter-spacing: 2px;
}

#container {
    max-width: 100vw;
    background-color: black;
    text-align: center;
}

.grid {
    display: grid;
    gap: 0;
}

.cell canvas {
    display: block;
}

.hiding {
    opacity: 0;
    transition: opacity 1s ease;
}

.revealed {
    opacity: 1;
    transition: opacity 1s ease;
}

#mech {
    margin-top: 20px;
}

@media (min-width: 800px) {
    body {
        min-height: 100vh;
    }
    .container {
        max-width: 800px;
    }
}